//font family
// $font-family-primary:  'Roboto', sans-serif;

//fonts
$font100: 100;
$font200: 200;
$font300: 300;
$font400: 400;
$font500: 500;
$font600: 600;
$font700: 700;
$font800: 800;
$font900: 900;

//colors//
$black: #000000;
$white: #ffffff;
$primary: #FF8057;
$secondary: #4E4E4E;
$darkblack: #3B404A;
$grey: #EFEFF3;
$darkpink: #FCC1A8;
$darkblue: #D3F2FF;
$darkyellow: #FFF0BB;
$cursedblack: #131313;
$skyblue: #B8D6FF;
$resewhite: #FFEFE9;
$greywhite: #EDEEF2;
$darkgrey: #D9D9D9;
